vault_jenkins_admin_password: "wpisz-swoje-haslo"
vault_jenkins_git_token: "token git"
vault_jenkins_dockerhub_token: "dockerhub token"
vault_jenkins_ssh_cd_key: "klucz ssh do obslugi node"
vault_ansible_vault_password: "to samo haslo, ktorym szyfrujesz ten plik (ansible-vault)"
vault_discord_webhook_url: "https://discord.com/api/webhooks/..."
