aws_region       = "eu-central-1"
key_name         = "fastapi-devops-key"
ssh_allowed_cidr = "0.0.0.0/0"
instance_type    = "t3.micro"
app_extra_ingress_ports = [8000]
ci_extra_ingress_ports  = [8080]

